header {
    background-color: lightblue;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1em 1em 0.5em 1em;
    font-size: x-large;
    font-weight: bold;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}